@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("GothamPro-Light"), local("GothamProLight"), url("../fonts/GothamPro-Light.woff2") format("woff2"), url("../fonts/GothamPro-Light.woff") format("woff");
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("GothamPro"), local("GothamPro-Regular"), url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff");
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("GothamPro-Medium"), local("GothamProMedium"), url("../fonts/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium.woff") format("woff");
}
