.container {
  position: relative;
  width: auto;
  margin: 0 auto;
  padding: padding(container-d);
  max-width: $desktop-width;

  @media ($tablet) {
    width: auto;
    padding: padding(container-t);
  }

  @media ($mobile) {
    width: auto;
    padding: padding(container-m);
  }
}
