.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: padding(container-d);

  @media ($tablet) {
    padding: padding(container-t);
  }

  @media ($mobile) {
    min-width: $mobile-width;
    padding: padding(container-m);
  }
}

.section__container {
  padding: 0 100px 0 50px;
  padding-bottom: 80px;

  @media ($tablet) {
    padding: 0 0 80px;
  }

  @media ($mobile) {
    padding: 0 0 60px;
  }
}
