// Media BreakPoints
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1279px;

$mobile: "max-width: #{$tablet-width}";
$tablet: "max-width: #{$desktop-width}";
$desktop: "min-width: #{$desktop-width}";

// Padding Variables
$paddings: (
  container-m: 0 30px,
  container-t: 0 50px,
  container-d: 0 50px,
);

// Font Variables
$font-stack: (
  gotham: ("Gotham", "Tahoma", "Arial", sans-serif),
);

$font-weights: (
  light: 300,
  normal: 400,
  regular: 400,
  medium: 500,
);

$line-height-base: 24px;

$font-line-height: (
  base: $line-height-base,
);

$font-size-base: 14px;
$font-size-aside: 14px;
$font-size-nav: 14px;
$font-size-site-heading: 44px;
$font-size-site-heading--tablet: 34px;
$font-size-site-heading--mobile: 24px;
$font-size-section-heading: 32px;
$font-size-section-heading--tablet: 24px;
$font-size-section-heading--mobile: 22px;
$font-size-intro: 18px;
$font-size-intro--tablet: 16px;
$font-size-button: 16px;
$font-size-button--tablet: 14px;
$font-size-label: 16px;
$font-size-label--tablet: 14px;
$font-size-input: 16px;
$font-size-input--tablet: 15px;

$font-sizes: (
  base: $font-size-base,
  aside: $font-size-aside,
  navigation: $font-size-nav,
  site-heading: $font-size-site-heading,
  site-heading-tablet: $font-size-site-heading--tablet,
  site-heading-mobile: $font-size-site-heading--mobile,
  section-heading: $font-size-section-heading,
  section-heading-tablet: $font-size-section-heading--tablet,
  section-heading-mobile: $font-size-section-heading--mobile,
  intro: $font-size-intro,
  intro-tablet: $font-size-intro--tablet,
  button: $font-size-button,
  button-tablet: $font-size-button--tablet,
  label: $font-size-label,
  label-tablet: $font-size-label--tablet,
  input: $font-size-input,
  input-tablet: $font-size-input--tablet,
);

// Color Variables
$black: #000000;
$white: #ffffff;
$light-primary: #fefefe;
$dark-primary: #0e0e0e;
$light-blue: #12ffff;
$red: #ff0000;

$bg-color-body: $dark-primary;
$bg-color-button--secondary: $light-primary;
$bg-color-button--primary: transparent;
$bg-color-button--hover: $white;
$bg-color-input: rgba($white, 0.3);
$bg-color-input--radio: $light-blue;
$bg-color-input--option: $light-primary;
$bg-color-menu--active: $light-blue;
$bg-color-aside: rgba($white, 0.3);
$bg-color-footer: rgba($white, 0.3);
$bg-color-footer--mobile: $dark-primary;

$border-color-button--primary: $light-primary;
$border-color-input: rgba($white, 0);
$border-color-input--focus: $light-blue;
$border-color-input--error: $red;

$font-color-base: $light-primary;
$font-color-link: $light-primary;
$font-color-link--hover: $light-blue;
$font-color-nav: $light-primary;
$font-color-nav--active: $light-blue;
$font-color-heading--before: $light-blue;
$font-color-button--secondary: $dark-primary;
$font-color-button--primary: $light-primary;
$font-color-input: $light-primary;
$font-color-input--placeholder: rgba($black, 0.4);
$font-color-input--option: $black;
